.stonesBg {
	display: flex;
	flex-direction: column;

	&-top {
		background: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/trans-bottom-darkwool.png")
			repeat-x;
		background-position: -815px;
		height: 100px;
		width: 100%;
		background-color: var(--white);
	}

	&-middle {
		background: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/bg-wool-dark.png");
		height: 50px;
		width: 100%;
	}

	&-bottom {
		background: url("https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png")
			repeat-x;
		height: 100px;
		width: 100%;
	}
}

.CommunityCreations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	align-items: center;
	background-color: var(--white);

	&-texts {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	&-title {
		margin: 0;
		padding-top: 4.6875rem;
		text-align: center;
	}

	&-subtitle {
		margin: 0;
		text-align: center;
	}

	&-link {
		text-decoration: none;
		color: var(--secondary-green);
		font-weight: bolder;
	}

	&-images-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 0.5rem;

		@media only screen and (max-width: 848px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
		}

		@media only screen and (max-width: 567px) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4);
		}
	}
}
